
 body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    
 }
 
 
 
 .header {
     background: #f8f8f8;
     padding: 2em 0;  
 }

 .container {
    width: 90%;  /* container wrapping the content to display row*/
    max-width: 900px;
    border: 1px solid magenta;
    margin: 0 auto;
   

 }

 .container-nav {
     display: flex;
     justify-content: space-between;
   
 }


 
 
 
 .header h1 {

     font-family: 'Lora', serif;
     color: #143774;
     font-size: 1.6rem;
     margin: auto;
     
 }
 
 .header p {
     color: #1792D2;
     font-family: 'Ubuntu', sans-serif;
     font-size: .95rem;
     margin: auto;
     
 }
 

 .nav-bar, ul {
     display: flex;
     justify-content: center;
     padding: 0;
     margin-top: .5rem; 
     margin-bottom: .5rem; 
     list-style-type: none; 
     margin-top: 1rem;
 }
 
 .nav-bar, li {
   margin-left: 2em;
 }

  .nav-bar, a {
   color: #707070;
   font-family: 'Ubuntu', sans-serif;
   font-size: 1rem;
   text-decoration: none;
   padding: .25em 0;
 }

 .nav-bar, a:hover  {
   color: #1792D2;
   
 }

 .current-page {
     border-bottom: 1px solid #707070;
 }

  .current-page:hover {
     color:  #707070;
 }



